@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    /* colors */
    --primary: #4CAF4F;
    --secondary: #263238;
    --white: #fff;
    --black: #263238;
    --grey: #717171;
    --d-grey: #4D4D4D;
    --silver: #F5F7FA;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: 'Montserrat', serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
h1 {
    font-weight: 600;
    color: var(--d-grey);
    font-size: 64px;
    line-height: 76px;
}
h2 {
    font-weight: 600;
    color: var(--d-grey);
    font-size: 36px;
    line-height: 44px;
}
h3 {
    font-weight: 600;
    color: var(--d-grey);
    font-size: 28px;
    line-height: 36px;
}
h4 {
    font-weight: 600;
    color: var(--d-grey);
    font-size: 20px;
    line-height: 28px;
}
.p2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--grey);
}
.p3 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--grey);
}
button {
    font-weight: 400;
    font-size: 18px;
    padding: 14px 32px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
a {
    font-size: 18px;
}

header {
    background-color: var(--silver);
}
header nav {
    padding: 22px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .link:not(:first-child) {
    margin-left: 40px;
}
header nav .links a {
    color: var(--secondary);
    font-weight: 400;
}
header nav .links a:hover {
    text-decoration: underline;
}
header nav .login a {
    margin-right: 20px;
    color: var(--primary);
}
header nav .login a:hover {
    text-decoration: underline;
}
header nav .login button {
    padding: 8px 24px;
    border-radius: 6px;
    font-size: 18px;
}
header .hero {
    padding: 96px 144px;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
}
header .hero .info h1 {
    margin-bottom: 16px;
}
header .hero .info h1 span {
    color: var(--primary);
}
header .hero .info p {
    margin-bottom: 32px;
}

.secondary {
    padding: 45px 144px;
    box-sizing: border-box;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.secondary .our-clients h2,
.secondary .manage h2 {
    margin-bottom: 8px;
}
.secondary .our-clients p,
.secondary .manage p {
    margin-bottom: 15px;
}
.secondary .our-clients .clients {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.secondary .manage .items {
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.secondary .manage .items .item {
    width: 299px;
    padding: 24px 32px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(171,190,209,0.2);
}
.secondary .manage .items .item .img {
    margin-bottom: 16px;
}
.secondary .manage .items .item h3 {
    margin-bottom: 8px;
}
.secondary .hero {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}
.secondary .hero .info {
    width: 600px;
    text-align: left;    
}
.secondary .hero .info h2 {
    margin-bottom: 16px;
}
.secondary .hero .info p {
    margin-bottom: 32px;
}

.helping {
    width: 100%;
    background-color: var(--silver);
    padding: 64px 0;
}
.helping .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    column-gap: auto;
}
.helping .info h2 {
    margin-bottom: 8px;
}
.helping .info h2 span {
    color: var(--primary);
}
.helping .container .counters {
    display: grid;
    /* align-items: flex-start; */
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 40px 30px;
}
.helping .container .counters .item {
    padding-right: 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    column-gap: 16px;
}

.banner {
    padding: 32px 0;
    background-color: var(--silver);
}
.banner .container {
    display: flex;
    align-items: center;
    /* justify-content: ; */
    column-gap: 70px;
}
.banner .img-box img {
    border-radius: 8px;
}
.banner .container .info p:first-child {
    font-weight: 500;
    color: var(--grey);
    margin-bottom: 16px;
}
.banner .container .info h4 {
    color: var(--primary);
    margin-bottom: 8px;
}
.banner .container .info .customers {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.banner .container .info .customers h4 {
    display: flex;
    align-items: center;
    column-gap: 8px;
}